:root[data-bs-theme='dark'] {
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
  --bs-border-color: #969696;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.text-orange {
  color: #ff7a00;
}

.bg-orange {
  background-color: #ff7a00;
}

.bg-orange:hover {
  background-color: #e66a00;
}

.text-green {
  color: #3fa34d;
}

.bg-green {
  background-color: #3fa34d;
}

[data-bs-theme='light'] .sidebar-item:hover {
  background-color: #dadada !important;
}

[data-bs-theme='dark'] .sidebar-item:hover {
  background-color: #3d3d3d !important;
}

.logout-item:hover {
  background-color: #ff5858 !important;
}
